<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.joelnagy.phonegap-tutorial"
		versionCode="1"
		version   = "1.0.1">
		<name>Employee Directory</name>
		<description>
A simple employee directory application		</description>
		<author href="http://joelnagy.com" email="joelnagy@gmail.com">
Joel Nagy
		</author>
		<preference name="phonegap-version" value="2.3.0" />
		<preference name="orientation" value="portrait" />
		<preference name="target-device" value="universal" />
		<preference name="fullscreen" value="true" />
		<preference name="webviewbounce" value="false" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="black-transparent" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="false" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="disable-cursor" value="true" />
		<preference name="android-minSdkVersion" value="7" />
		<preference name="android-maxSdkVersion" value="0" />
		<preference name="android-installLocation" value="null" />
		<preference name="splash-screen-duration" value="0" />
		<preference name="load-url-timeout" value="20000" />
		<feature name="http://api.phonegap.com/1.0/camera"/>
		<feature name="http://api.phonegap.com/1.0/contacts"/>
		<feature name="http://api.phonegap.com/1.0/file"/>
		<feature name="http://api.phonegap.com/1.0/geolocation"/>
		<feature name="http://api.phonegap.com/1.0/media"/>
		<feature name="http://api.phonegap.com/1.0/network"/>
		<feature name="http://api.phonegap.com/1.0/notification"/>
		<gap:splash src="img/splash/240x400.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="img/splash/320x480.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="img/splash/480x800.png" gap:platform="android" gap:density="hdpi" />
	</widget>